/* Mặc định desktop */
.hero-section-v3 {
  position: relative;
  height: 100vh;
  color: white;
  font-weight: 400;
  display: flex;
  align-items: flex-end; /* đẩy content xuống dưới */
  justify-content: flex-start; /* căn trái */
  padding: 50px 60px;
  overflow: hidden;
  background-image: url("../images/projectbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom; /* cắt ảnh phía trên */
}

.hero-section-v3 .hero-content h1 {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #FFF7EC;
}

.hero-section-v3 .breadcrumb {
  color: rgba(255, 255, 255, 0.6);
}

.hero-section-v3  .separator {
  margin: 0 4px;
  color: rgba(255, 255, 255, 0.4);
}

.hero-section-v3  .highlight {
  font-weight: 500;
  color: #FFF7EC;
}

.hero-section-v3  .hero-subtitle {
  font-size: 38px;
  font-weight: 600;
  color: #FFF7EC;
  margin-top: 10px;
  white-space: pre-line;
}

@media (max-width: 1024px) {
.hero-section-v3  {
    padding: 40px 40px;
    height: 80vh;
  }

.hero-section-v3  .hero-content h1 {
    font-size: 16px;
  }
.hero-section-v3  .hero-subtitle {
    font-size: 32px;
  }
}

/* Mobile nhỏ */
@media (max-width: 768px) {
.hero-section-v3  {
    padding: 30px 20px;
    height: 70vh;
 
  }

.hero-section-v3  .hero-content h1 {
    font-size: 14px;
    margin-bottom: 6px;
  }

.hero-section-v3  .hero-subtitle {
    font-size: 24px;
    margin-top: 6px;
  }


}

/* Siêu nhỏ (như điện thoại nhỏ) */
@media (max-width: 480px) {
.hero-section-v3  {
    padding: 20px 15px;
    height: 60vh;
  }

.hero-section-v3  .hero-content h1 {
    font-size: 12px;
  }
.hero-section-v3 .hero-subtitle {
    font-size: 14px;
  }
}
