.partners-section {
  padding: 60px 20px;
  text-align: center;
  background-repeat: repeat;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}





.partners-section .title {
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  color:#43230C;
}



.partners-section .title span {
  color: #96422F;
}
.partners-section .main-content-container{
  box-sizing: border-box;
}
.partner-logos {
  display: flex;
  overflow-x: auto;
  gap: 20px;
padding: 10px 20px 40px 20px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.partner-logos img {
  flex: 0 0 auto;
  height: 120px;
  object-fit: contain;
  scroll-snap-align: start;
  pointer-events: none;
  user-select: none;
  opacity: 0.6;
  filter: grayscale(50%);
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 0;
   pointer-events: none;
}



.partner-logos::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}


.partners-logos img:hover {
  filter: none;
}

.partners-banner img {
  max-width: 100%;
  height: auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(0 0 0 / 0.1);
}






@media (max-width: 480px) {
  .partner-logos {
    padding-bottom: 0px;
  }
}


@media (max-width: 600px) {
  .partners-section {
    padding: 40px 0px;
  }

  .partners-section .title {
    font-size: 22px;
    margin-bottom: -30px;
  }

  .partners-logos {
    gap: 20px;
  }

  .partners-logos img {
    flex: 1 1 100px;
    max-width: 100px;
    height: 15px;
  }
}

/* Medium devices (tablets) */
@media (min-width: 601px) and (max-width: 1024px) {
  .partners-section .title {
    font-size: 28px;
  }

 .partners-section {
    padding: 40px 0px;
  }
  .partners-logos img {
    max-width: 120px;
    height: 15px;
  }
}
