.project-detail {
  background-color: #f9f3ed;
 background-image: url('../images//bg.png');
  background-repeat: repeat;
  padding: 40px 0;
}

.project-detail__breadcrumbs {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 4px;
}

.breadcrumb-home {
color: rgba(67, 35, 12, 0.6);   
  font-size: 16px;
  font-weight: 500;
}

.breadcrumb-section {
  color: #43230C;      
  font-size: 16px;
  font-weight: 500;
}

.breadcrumb-current {
  color: #43230C;          
  font-size: 16px;
   font-weight: 500;
}

.breadcrumb-separator {
  color: #999;
  font-size: 14px;
}


.project-detail__container {
  display: flex;
  max-width: 1200px;
  margin: auto;
  gap: 40px;
}
.project-detail__image {
  display: flex;
  flex-direction: column;
  gap: 36px; /* khoảng cách giữa các nhóm ảnh */
}

.project-detail__image-group {
  display: flex;
  flex-direction: column;

}

.project-detail__main {
  width:815px;
}

.project-detail__breadcrumbs {
  font-size: 14px;
  color: #999;
  margin-bottom: 10px;
}

.project-detail__title {
  font-size: 38px;
  font-weight: bold;
  margin: 0;
  color:#43230C;
}

.project-detail__subtitle {
  font-size: 16px;
  color: #8C795F;
  margin-bottom: 20px;
}

.project-detail__description {
  font-size: 16px;
  color: #43230C;
  line-height: 1.6;
  margin-bottom: 20px;
}

.project-detail__heading {
  font-size: 30px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
  color:#43230C;
}

.project-detail__image {
  margin-bottom: 20px;
}

.project-detail__image img {
  width: 100%;
  border-radius: 8px;
}

.project-detail__caption {
  margin-top: 8px;
  font-size: 14px;
  color: #43230C;
  text-align: left; /* canh trái */
}

.project-detail__sidebar {

  display: flex;
  flex-direction: column;
  height:500px;

}

.project-detail__sidebar-title {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #43230c;
}

.project-detail__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.project-detail__item {
  display: flex;
  margin-bottom: 16px;
  align-items: flex-start;
}

.project-detail__item-thumb {
  width: 233px;
  height: 131px;
  background-color: #c2aa8e; /* giống tone hình */
  margin-right: 8px;
  flex-shrink: 0;
}

.project-detail__item-text {
  font-size: 18px;
  line-height: 1.4;
  color: #43230c;
  opacity: 0.8;
  max-width: 150px;
}

.project-detail__share {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 1px solid #43230c;
  padding-top: 12px;
  padding-bottom:12px;
  margin-top: 30px;

  opacity: 0.6;
  font-size: 12px;
  justify-content: flex-end;
}

.project-detail__share i {
  font-size: 16px;
  color: #43230c;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.project-detail__share a:hover i {
  opacity: 1;
}
