.services-section {
  background-image: url('../images/bg.png');
  background-repeat: repeat;
  padding: 80px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.services-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.services-section .subtitle {
  color: #96422F;
  font-size: 16px;
  margin-bottom: 10px;
}

.services-section .title {
  font-size: 36px;
  color: #43230C;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.4;
}

.services-section .description {
  font-size: 16px;
  color: #43230C;
  max-width: 700px;
  margin: 0 auto 60px auto;
}

.services-section .service-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  width: 100%;
}

@media (max-width: 768px) {
  .services-section .service-grid {
    justify-content: center;
  }
}

.services-section .service-card {
  position: relative;
  width: 300px;
  height: 300px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  background-color: #8C795F;
  color: #FFF7EC;
  transition: background-color 0.3s ease;
}

.services-section .service-card .card-front,
.services-section .service-card .card-back {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  border-radius: 12px;
  transition: opacity 0.5s ease;
  backface-visibility: hidden;
}

.services-section .service-card .card-front {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
  opacity: 1;
}

.services-section .service-card .card-back {
  opacity: 0;
  z-index: 1;
}

.services-section .service-card:hover {
  background-color: transparent;
}

.services-section .service-card:hover .card-front {
  opacity: 0;
}

.services-section .service-card:hover .card-back {
  opacity: 1;
  z-index: 3;
}

.services-section .service-card .card-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.services-section .service-card .icon {
  font-size: 30px;
  margin-bottom: 20px;
  color: #fff;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-section .service-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
  font-weight: 300;
  text-align: center;
}

.services-section .service-card p {
  font-size: 14px;
  line-height: 1.5;
  color: #fff;
  font-weight: 300;
  text-align: center;
}
